<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
   <div id="App">
    <h2>Players</h2>
    <ul >
   
        
        <li v-for="player in players">
            {{player}}
            
        </li>
        
    </ul>
    <ul >
        
        <li v-for="number in numbers">
            {{number}}
            
        </li>
        
    </ul>
   </div>
<script src="./Vue.js"></script>
    
</body>
</html>